block variables
    - var title = "Default Page"

doctype html
html
    head
        meta(charset="utf-8")
        title My Site is - #{title}
        link(rel="stylesheet", href="css/style.css")
    
    body
        .container
            include ../blocks/nav
        block header
        block content
        block footer
            include ../blocks/footer
        block scripts
            script(src='./js/main.js')
            